	* {
  box-sizing: border-box;
  }
.container{
   width: 100%;
   position: relative;
}

h1{
	margin-top: 50px;
	text-align: center;
}
	.box1{
		width: 30%;
		height: 66%;
		position:absolute;
		background-color: #a6dcef;
		display: block;
		margin-left: 20px;
		margin-top: 60px;
		border: 1px solid black;
		border-width: thick;
		overflow: hidden;
}

	.box2{
		width: 30%;
		height: 66%;
		position: absolute;
		background-color: #fbfd8a;
		display: block;
		margin-left: 300px;
		margin-top:60px;
		border: 1px solid black;
		border-width: thick;
		overflow: hidden;
}
	.box3{
		width: 30%;
		height: 34%;
		position: relative;
		background-color: #f6def6;
		display: block;
		margin-left: 910px;
		margin-top: 80px;
		border: 1px solid black;
		border-width: thick;
		overflow: hidden;

}
	#title1 {

		width: 34%;
		height: 20%;
		background-color: #fab7b7;
		border: 1px solid black;
		border-width: thick;
		margin-top: 0px;
		text-align: center;
	    	float: right;
    		font-family: "Comic Sans MS";
		padding-top: 3px;
                                font-size: 20px;
		padding-bottom: 8px;

}
    	#title2{

		width: 34%;
		height: 20%;
    		background-color: #cceabb;
		border: 1px solid black;
		border-width: thick;
		margin-bottom: 1px;
		margin-top: 0px;
                                text-align: center;
		float: right;
		font-family: "Comic Sans MS";
		padding-top: 3px;
                                font-size: 20px;
		padding-bottom: 8px;

}
    	#title3{

		width: 34%;
		height: 20%;
		background-color: #ff9c71;
		border: 1px solid black;
		border-width: thick;
		margin-top: 0px;
		text-align: center;
		float: right;
		padding-top: 3px;
                                font-size: 20px;
		padding-bottom: 8px;
		font-family: "Comic Sans MS";
		}

	#para1{

		padding-top: 60px;
		padding-right: 10px;
		padding-bottom: 15px;
		padding-left: 15px;
		font-family: "Georgia";
		font-weight: bold;
		font-size: 16px; 
		margin-top: 0px;

	}

	#para2{

		padding-top: 60px;
		padding-right: 10px;
		padding-bottom: 15px;
		margin-top: 0px;
		padding-left: 15px;
		font-family: "Georgia";
		font-weight: bold;

	}

	#para3{

		padding-top: 60px;
		margin-top: 0px;
		padding-right: 10px;
		padding-bottom: 15px;
		padding-left: 15px;
		font-family: "Georgia";
		font-weight: bold;

	}
    /**** mobile ****/
	@media screen and (max-width: 767px) { 

		.box1{
			width: 90%;
			height: 28%
			
		}
		#title1{
			padding-top:1px;
			font-size: 25px;
			width:40%;
			height: 26%;
}
		
		.box2{
			height:28%;
			margin-top: 95%;
			width: 90%;
			margin-left: 20px;
		}
		#title2{
			padding-top:1px;
			font-size: 25px;
			width:40%;
			height: 26%;
			}

		.box3{
			margin-top: 180%;
			width: 90%;
			margin-left: 26%;
			margin-left: 20px;
			height: 15%;
	}

		#title3{
			padding-top: 1px;
			font-size: 25px;
			width:40%;
			height: 26%; }
		
}
/**** tablet ****/
	@media (min-width: 768px) and (max-width: 991px) { 

		.box1{
			width: 45%;
			height: auto;
			margin-top: 10%;
			margin-left: 2%;
		}
		
		.box2{
			height: auto;
			margin-top: 10%;
			width: 45%;
			margin-left: 50%;
		}

		.box3{
			margin-top: 50%;
			padding-top: auto;
			width: 93%;
			margin-left: 2%;
			float: left;
			margin-bottom: 10%;
			height: auto;
		}
}

/**** desktop ****/
	@media only screen and (min-width: 992px) { 

.box1{
	width: 30%;
	height: 66%;
	margin-left: 20px;
	margin-top: 60px;
}

.box2{
	width: 30%;
	height: 66%;
	margin-left: 470px;
	margin-top:60px;
}
.box3{
	width: 30%;
	height: 35%;
	margin-left: 910px;
	margin-top: 80px;
	
}
}
